{% extends 'base.html' %}
{% load staticfiles %}
{% load comments %}
{% load comments_xtd %}

{% block title %}
    <title>关于我 - 夕象 | 陈志祥的个人博客</title>
{% endblock title %}

{% block customstatic %}
    <!--me???-->
    <link href="{% static 'css/me/main.css' %}" rel="stylesheet">
    <!-- 评论样式 -->
    <link rel="stylesheet" href="{% static 'css/comment/comment.css' %}">
    <!--使用bootstrap框架-->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
{% endblock customstatic %}


{% block aboutme&subject %}
    <div class="container">
        <div class="con_content">
            <div class="about_box">
                <h2 class="nh1"><span>您现在的位置是：<a href="/">网站首页</a>>><a href="#">给我留言</a></span><b>留言簿</b></h2>
                <div class="f_box">
                    <p class="a_title">留言簿</p>
                    <p class="box_p"><span>作者：陈志祥</span><span>籍贯：湖南岳阳</span><span>个人微信号：1946709553</span>
                </div>
                <section class="comment-area" id="comment-area">
                    {% if user.is_authenticated %}
                        <div class="comment">
                            <div class="well">
                                <!-- for后的内容必须为APP的带有id的一个模型，例如Article选取ID为1或者其他才能评论，错误提示：'QuerySet' object has no attribute '_meta' -->
                                {% render_comment_form for guestbook %}
                            </div>
                        </div>
                    {% else %}
                        <div class="well" style="margin-top: 15px">
                            {% include 'comments/_login_panel.html' %}
                        </div>
                    {% endif %}
                    <div class="comment-list">
                        <div class="comment-name">
                            <ul>
                                <li>
                                    <strong class="title-name">最新留言</strong>
                                </li>
                            </ul>
                        </div>
                        {% get_comment_count for guestbook as comment_count %}
                        {% if not comment_count %}
                            <h4 style="text-align: center;margin: 60px 0 40px 0">暂时没有留言，请多多指教！</h4>
                        {% endif %}
                        {% render_xtdcomment_tree for guestbook allow_flagging allow_feedback show_feedback %}
                        {% block extra-js %}
                            <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
                            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                            <script>
                                $(function () {
                                    $('[data-toggle="tooltip"]').tooltip({html: true})
                                })
                            </script>
                        {% endblock %}
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock aboutme&subject %}