{% extends 'base.html' %}
{% load comments %}
{% load like_num %}
{% load view_num %}

{% block article_list&article_content&blog_filter %}
    <!--博客分类列表-->
    <div class="filter">
        <div class="filter-item">
            <span><i class="fa fa-bookmark"></i> 主题动态</span>
            <span class="feed-switcher js-feed-switcher">
                <a href="javascript:void(0);" onclick="post_filter('recommend')">推荐</a> |
                <a href="javascript:void(0);" onclick="post_filter('hot_favorite')">热门排序</a> |
                <a href="javascript:void(0);" onclick="post_filter('hot_comment')">热评排序</a>
            </span>
        </div>
        <div class="clearfix"></div>
        <ul  class="category-list">
            <form id="article_filter" method="GET" action="{% url 'article_filter' %}">
                {% csrf_token %}
                {% for category in categories %}
                    {% if category.parent_id %}
                        <li {% if category.id == current_category_id %}class="current"{% endif %}>
                            <a href="{% url 'category' category.id %}">{{ category.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <input type="hidden" id="current_category" name="current_category_id" value="{{ current_category_id }}"/>
                <!--排序类型-->
                <input type="hidden" name='post_filter_type' id='post_filter_type' value='{{ post_filter_type }}' />
            </form>
        </ul>
    </div>
    <!-- 筛选后文章列表 -->
    <div class="article-categroy-list">
        {% for article in article_category_list %}
            <div class="article">
                <h3>
                    <a title="{{ article.title }}" href="{% url 'post:articledetail' article.id %}" target="_blank">{{ article.title}}</a>
                    {% if article.is_new %}
                        <p class="new">NEW</p>
                    {% endif %}
                    {% if article.is_recommend %}
                        <p class="recommend">推荐</p>
                    {% endif %}
                    {% if not article.is_published %}
                        <p class="recommend">未发表</p>
                    {% endif %}
                </h3>
                <ul>
                    <p>{{ article.excerpt }}...</p>
                </ul>
                <p class="dateview">
                    <!--导入阅读器标签-->
                    {% get_like_nums for article as like_num %}
                    {% get_view_nums for article as view_num %}
                    <!-- 评论计数 -->
                    {% get_comment_count for article as comment_count %}
                    <span><i class="fa fa-calendar"></i> {{ article.created_time | date:"Y-m-d" }}</span>
                    <span><i class="fa fa-eye"></i> {{ view_num }}浏览</span>
                    <span><a href="{{ article.get_absolute_url }}#comment-area"><i class="fa fa-comments-o"></i> {{ comment_count }}评论</a></span>
                    <span class="like">
                        {% if request.user.is_authenticated %}
                            {% if article.id in like_article_id_list%}
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            {% else %}
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                            {% endif %}
                        {% else %}
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                        {% endif %}
                        <a href="javascript:void(0);" class="likebtn" data-id="{{ article.id }}" data-type="article">{{ like_num }}喜欢</a>
                    </span>
                    <span><a href="{% url 'category' article.category.id %}"><i class="fa fa-tags"></i> {{ article.category.name }}</a></span>
                </p>
            </div>
        {% endfor %}
    </div>
    <!--分页功能-->
    {% if pages.count != 0 %}
        <div class="post_list_footer">
            <span class="post_footer_tip">共{{ pages.count }}篇博文。当前第{{ article_category_list.number }}页，共{{ pages.num_pages }}页</span>
            <div class="post-pages">
                <ul class="page">
                    <li>
                        <a href="?page={% if article_category_list.has_previous %}{{ article_category_list.previous_page_number }}{% else %}{{ article_category_list.number }}{% endif %}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    {% for page in pages.page_range_ex %}
                        {% if page == '...' %}
                            <li>...</li>
                        {% else %}
                            <li class="page-list"><a href="?page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}

                    <li>
                        <a href="?page={% if article_category_list.has_next %}{{ article_category_list.next_page_number }}{% else %}{{ article_category_list.number }}{% endif %}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
                {# 页码跳转的html代码 #}
                <ul class="pagination">
                    <li id="page_goto">
                        <span><input type="text" value="{{ article_category_list.number }}" placeholder="{{ article_category_list.number }}"></span>
                    </li>
                    <li><a href="javascript:void(0);" onClick="page_goto();">Go</a></li>
                </ul>
            </div>
        </div>
    {% else %}
        <div class="search-empty"><h3>暂时没有您想要的文章，请继续关注！</h3></div>
    {% endif %}
{% endblock article_list&article_content&blog_filter %}

{% block customjs %}
    <script type="text/javascript">
        //设置凸显选中的博客分类
        $(function(){
            $(".category-list li a").each(function(){
                //得到地址栏网址前面部分，即?page前面部分
                var url = String(window.location).split("?")[0];
                if($(this)[0].href==url)
                    $(this).parent().addClass('current');
            });
        });
        //博客分类后筛选
        function post_filter(post_filter_type){
            //排序可调用的通用函数
            $('#post_filter_type').attr('value', post_filter_type);   //排序类型
            $('#article_filter').submit();   //提交表单
        }

        //设置凸显当前页码
        $(".page li a").each(function(){
            //首页中
            if($(this).text()=="{{ article_list.number }}"){
                $(this).parent().addClass("active");
            }
            //博客分类页面中
            if($(this).text() == "{{ article_category_list.number }}"){
                $(this).parent().addClass("active");
            }
        });
        //页码跳转处理
        function page_goto(page){
            var page = $("#page_goto input")[0].value;
            window.location.href = '?page=' + page;  //重定向
            return false;
        }
        // 点赞
        $(function () {
            $('.likebtn').click(function(){
                var like_type = $(this).attr('data-type');
                var like_id = $(this).attr('data-id');
                $.tipsBox({
                    obj: $(this),
                    str: "",
                    callback: function () {
                    }
                });
                niceIn($(this), like_id);
                add_like($(this), like_type, like_id);
            });
            function niceIn(prop){
                prop.find('i').addClass('niceIn');
                setTimeout(function(){
                    prop.find('i').removeClass('niceIn');
                },1000);
            }
            (function ($) {
                $.extend({
                    tipsBox: function (options) {
                        options = $.extend({
                            obj: null,  //jq对象，要在那个html标签上显示
                            str: "",  //字符串，要显示的内容;也可以传一段html，如: "<b style='font-family:Microsoft YaHei;'>+1</b>"
                            startSize: "12px",  //动画开始的文字大小
                            endSize: "25px",    //动画结束的文字大小
                            interval: 700,  //动画时间间隔
                            color: "red",    //文字颜色
                            callback: function () { }    //回调函数
                        }, options);
                        $("body").append("<span class='num'>" + options.str + "</span>");
                        var box = $(".num");
                        var left = options.obj.offset().left + options.obj.width() / 2;
                        var top = options.obj.offset().top - options.obj.height();
                        box.css({
                            "position": "absolute",
                            "left": left + "px",
                            "top": top + "px",
                            "z-index": 9999,
{#                            "font-family": "Times New Roman",#}
                            "font-size": options.startSize,
                            "line-height": options.endSize,
                            "color": options.color
                        });
                        box.animate({
                            "font-size": options.endSize,
                            "opacity": "0",
                            "top": top - parseInt(options.endSize) + "px"
                        }, options.interval, function () {
                            box.remove();
                            options.callback();
                        });
                    }
                });
            })(jQuery);
        });
        function add_like(current_elem, like_type, like_id){
            $.ajax({
                cache: false,
                type: 'POST',
                url: '{% url 'addlike' %}',
                data: {'like_type':like_type, 'like_id':like_id},
                dataType: 'json',
                async: true,
                beforeSend: function(xhr, settings){
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(data) {
                    if(data.status == "fail"){
                        if(data.msg == "用户未登录"){
                            alert("请您登陆后再点赞吧！")
                        }else{
                            alert(data.msg)
                        }
                    }else if(data.status == "success"){
                        if(data.msg == "您已取消点赞"){
                            current_elem.text(data.like_num);
                            current_elem.parent().find('i').attr("class", "fa fa-heart-o");
                            $('.num').text('-1');
                        }else if(data.msg == "您已点赞"){
                            current_elem.text(data.like_num);
                            current_elem.parent().find('i').attr("class", "fa fa-heart");
                            $('.num').text('+1');
                        }
                    }
                }
            });
        }
    </script>
{% endblock customjs %}