<div id="banner">
    <div id="list">
        {% for banner in banners %}
            <li>
                <a href="{% url 'subject:subjectdetail' banner.subject.id %}" target="_blank">
                    <img src="{{ MEDIA_URL }}{{ banner.image }}"  class="{% if forloop.first %}active{% endif %}" alt="{{ banner.subject.title }}"/>
                    <p class="{% if forloop.first %}active{% endif %}">{{ banner.subject.title }}</p>
                </a>
            </li>
        {% endfor %}
    </div>
    <div id="buttons">
        <span class="on" index="0"></span>
        <span index="1"></span>
        <span index="2"></span>
        <span index="3"></span>
        <span index="4"></span>
    </div>
    <a href="javascript:;" id="prev" class="arrow">&lt;</a>
    <a href="javascript:;" id="next" class="arrow">&gt;</a>
    <style type="text/css">
        *{
            margin: 0;
            padding: 0;
            text-decoration: none;
        }
        #banner {
            width: 855px;
            height: 300px;
            margin: 10px 0 10px 0;
            {#border: 1px solid #333;#}
            border-radius: 6px;
            -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
            box-shadow: 0 1px 3px rgba(0,0,0,.1);
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            overflow: hidden;
            position: relative;
        }
        #list {
            width: 855px;
            height: 300px;
            position: absolute;
            z-index: 0;
        }
        #list li {
            float: left;
            width: 855px;
            height: 300px;
            position: absolute;
        }
        #list img {
            float: left;
            width: 855px;
            height: 300px;
            opacity: 0; /*初始不透明度为0，图片都看不见*/
            transition: opacity 1s linear; /*--重点--定义一个关于透明度的transition*/
        }
        #list img.active {
            opacity: 1; /*有active类的图片不透明度为1，即显示图片*/
        }
        #list p {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 48px;
            line-height: 48px;
            color: #fff;
            font-size: 20px;
            text-indent: 10px;
            background: -webkit-linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
            background: linear-gradient(rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
            opacity: 0;
            transition: all 0.5s;
        }
        #list p.active {
            opacity: 1;
        }
        #buttons {
            position: absolute;
            height: 10px;
            width: 100px;
            z-index: 2;
            bottom: 15px;
            left: 765px;
        }
        #buttons span {
            cursor: pointer;
            float: left;
            border: 1px solid #fff;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #333;
            margin-right: 5px;
        }
        #buttons .on {
            background: orangered;
        }
        .arrow {
            cursor: pointer;
            display: none;
            line-height: 39px;
            text-align: center;
            font-size: 36px;
            font-weight: bold;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            position: absolute;
            z-index: 2;
            top: 130px;
            background-color: RGBA(0,0,0,.3);
            color: #fff;
        }
        .arrow:hover {
            background-color: RGBA(0,0,0,.7);
        }
        #banner:hover .arrow {
            display: block;
        }
        #prev {
            left: 10px;
        }
        #next {
            right: 10px;
        }
    </style>
    <script type="text/javascript">
        //---------主角：轮播图函数-------------
        function slideshow() {
            var slideshow = document.getElementById("list"),
                imgs = slideshow.getElementsByTagName("img"), //得到图片们
                descrips = slideshow.getElementsByTagName("p"), //得到描述们
                pages = document.getElementById("buttons").getElementsByTagName("span"), //得到页码们
                left_btn = document.getElementById("prev"),
                right_btn = document.getElementById("next"),
                current = 0; //current为当前活跃的图片编号

            function slideOff() {
                imgs[current].className = ""; //图片淡出
                pages[current].className = "";
                descrips[current].className = "";
            }

            function slideOn() {
                imgs[current].className = "active"; //图片淡入
                pages[current].className = "on";
                descrips[current].className = "active";
            }

            function changeSlide() { //切换图片的函数
                slideOff();
                current++; //自增1
                if (current >= 5) current = 0;
                slideOn();
            }

            //每3s调用changeSlide函数进行图片轮播
            var slideon = setInterval(changeSlide, 4000);

            slideshow.onmouseover = function () {
                clearInterval(slideon); //当鼠标移入时清除轮播事件
            };
            slideshow.onmouseout = function () {
                slideon = setInterval(changeSlide, 4000); //当鼠标移出时重新开始轮播事件
            };

            for (var i = 0; i < pages.length; i++) { //定义鼠标移入和移出页码事件
                pages[i].onmouseover = function () {
                    slideOff(); //图片淡出
                    current = this.getAttribute("index"); //得到鼠标停留的页码对应的current
                    slideOn(); //图片淡出
                }
            }
            left_btn.onclick = function () {
                slideOff(); //图片淡出
                current--;
                if (current < 0) current = 4;
                slideOn(); //图片淡出
            };
            right_btn.onclick = function () {
                slideOff(); //图片淡出
                current++;
                if (current > 4) current = 0;
                slideOn(); //图片淡出
            }
        }
        slideshow();
    </script>
</div>
