<div class="more-sign">
    <h4>社交账户登录</h4>
    <ul>
        <li>
            <a href="{% url "social:begin" "qq" %}" title="QQ登录">
                <img src="/static/images/logo/logo_qq.png" alt="QQ登录">
            </a>
        </li>
        <li>
            <a href="{% url "social:begin" "weibo" %}" title="微博登录">
                <img src="/static/images/logo/logo_sina.png" alt="微博登录">
            </a>
        </li>
        <li>
            <a href="{% url "social:begin" "github" %}" title="Github登录">
                <img src="/static/images/logo/logo_github.png" alt="Github登录">
            </a>
        </li>
    </ul>
</div>