{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>夕象^绑定邮箱</title>
{% endblock title %}

{% block customstatic %}
    <!--用户css-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/user/userpage.css' %}">
    <!--使用bootstrap框架-->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
{% endblock customstatic %}

{% block user %}
    <div class="container">
        <form action="{% url 'social_bind' %}" method="post" id="social_bind">
            {% csrf_token %}
{#            <input type="hidden" name="next" value="/"/>#}
            <input type="hidden" name="user" value="{{ user }}"/>
            <div class="panel panel-default panel-single" id="user-form" style="max-width: 500px;">
                <div class="panel-heading">
                    <h2 class="form-signin-heading">绑定用户</h2>
                </div>
                <div class="panel-body">
                    <p class="text-default">Hi，您已登录。请绑定用户，完成登录！</p>
                    {% if msg %}
                        <div class="alert alert-block alert-danger">
                            <ul>
                                {{ msg }}
                            </ul>
                        </div>
                    {% endif %}
                    <div id="div_id_username" class="row {% if socialbindform.username.errors %} has-error{% endif %}">
                        <div class="controls clearfix">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
                                <input class="form-control input-lg" id="id_username" maxlength="254" name="username" type="text" value="{% if socialbindform.username.value is not None %}{{ socialbindform.username.value }}{% endif %}" placeholder="请输入用户名">
                            </div>
                            {% for error in socialbindform.username.errors %}
                                <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="text-danger help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="div_id_email" class="row{% if socialbindform.email.errors %} has-error{% endif %}">
                        <div class="controls clearfix">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                                <input class="form-control input-lg" id="id_email" name="email" type="text" value="{{ socialbindform.email.value }}" placeholder="请输入绑定的邮箱">
                            </div>
                            {% for error in socialbindform.email.errors %}
                                <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="text-danger help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div id="div_id_username" class="row {% if socialbindform.password.errors %} has-error{% endif %}">
                        <div class="controls clearfix">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
                                <input class="form-control input-lg" id="id_password" name="password" type="password" value="{{ socialbindform.password.value }}" placeholder="请输入密码">
                            </div>
                            {% for error in socialbindform.password.errors %}
                                <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="text-danger help-block">{{ error }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">确定</button>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        document.getElementById('id_email').focus()
    </script>
{% endblock user %}